body {
  background-color: #fffaf0;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Georgia, serif;
  color: #8b4513;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #a0522d;
}

h3 {
  color: #d2691e;
  margin-left: 20px;
}

img {
  width: 150px;
  margin: 7px;
  border-radius: 14px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(2);
}
